body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
}

.footer-fix {
    min-height: calc(85vh - 70px);
}

footer {
    border-top: 1px solid;
    min-height: calc(85vh - 70px);
}

#message {
    text-align: center;
    font-weight: 700;
    size: 40px;
}